{% extends 'accounts/base.html' %}

{% block title %} Login {% endblock %}
{% block header %}
{% endblock %}
{% block main_content %}
<main class="form-signin">
    <form action="{% url 'accounts:login' %}" method="post">{% csrf_token %}
        <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        {% if messages %}
        <div class="postcontent nobottommargin clearfix">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-floating">
            {{ form.as_p }}
        </div>
        <!-- 
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p></p>
        <a class="w-100 btn btn-lg btn-secondary" href="{% url 'accounts:register' %}">Register</a>
        <p></p>
        <a class="w-100 btn btn-lg btn-dark" href="{% url 'products:products' %}">Go thru</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>
{% endblock %}