{% extends 'orders/base.html' %}
{% block title %} Order {% endblock %}
{% block header %}
{% endblock %}
{% block nav_bar %}
{% endblock %}
{% block main_content %}
<form autocomplete="off" method="post">{% csrf_token %}
    <div class="autocomplete">
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {{ form }}
    </div>
    <input class="btn btn-dark" type="submit" value="Delete">
    <a class="btn btn-dark" href="{% url 'carts:last_cart' %}">Back</a>
</form>

{% endblock %}