{% extends 'products/base.html' %}

{% block title %} Order {{ order.public_id }} {% endblock %}
{% block header %}
{% endblock %}
{% block nav_bar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if user.is_active %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <a class="navbar-brand" href="/">Test Shop</a>
        {% if user.is_active %}
        <a href="{% url 'accounts:logout'%}" class="nav-link">Logout</a>
        {% else %}
        <a href="{% url 'accounts:login'%}" class="nav-link">Login</a>
        {% endif %}
        {% if user.is_active %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">User: {{ user }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders:orders'%}">Orders</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
        <form class="d-flex" action="{% url 'products:search_results' %}" method="GET">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Logut</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You want to logut?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block main_content %}
<div class="row g-5">
    <article class="blog-post">
        <h1 class="display-6">Order: {{ order.public_id }}</h1>
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">SHIPPING ADDRESS</th>
                    <th scope="col">PAYMENT STATUS</th>
                    <th scope="col">SHIPMENT STATUS</th>
                </tr>
            </thead>
            <tr class="table-light">
                <td class="table-light">{{ order.shipping_address }}</td>
                <td class="table-light">{{ order.payment }}</td>
                <td class="table-light">{{ order.shipped }}</td>
            </tr>
        </table>
        <h1 class="display-6">Order details</h1>
        {% if order_items %}
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">TOTAL</th>

                </tr>
            </thead>
            {% for order_item in order_items %}
            <tr class="table-light">
                <td class="table-light">{{ order_item.product }}</td>
                <td class="table-light">{{ order_item.quantity }}</td>
                <td class="table-light">{{ order_item.product.price|floatformat:2 }}</td>
                <td class="table-light">{{ order_item.amount|floatformat:2 }} UAH</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">TOTAL</th>
                <td colspan="5" class="table-secondary"><strong>{{ total|floatformat:2 }} UAH</strong></td>
            </tr>
        </table>
        {% endif %}
        <a class="btn btn-dark" href="{% url 'products:products' %}">Home</a>
        <a class="btn btn-dark" onClick="javascript:history.go(-1);">Back</a>
    </article>
</div>
{% endblock %}