{% extends 'orders/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'orders/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Замовлення {% endblock %}
{% block header %}
{% endblock %}
{% block nav_bar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if user.is_active %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <a class="navbar-brand" href="/">Магазин</a>
        {% if user.is_active %}
        <a href="{% url 'accounts:logout'%}" class="nav-link">Вийти</a>
        {% else %}
        <a href="{% url 'accounts:login'%}" class="nav-link">Авторизуватись</a>
        {% endif %}
        {% if user.is_active %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Обліковий запис
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Користувач: {{ user }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Вийти</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    {% if items_quantity == 1 %}
                    <a href="{% url 'carts:cart'%}" class="nav-link">Корзина | {{ items_quantity }} товарів</a>
                    {% elif items_quantity > 0 %}
                    <a href="{% url 'carts:cart'%}" class="nav-link">Корзина | {{ items_quantity }} товар</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
        <form class="d-flex" action="{% url 'products:search_results' %}" method="GET">
            <input class="form-control me-2" type="text" placeholder="Пошук" aria-label="Search" name="q">
            <button class="btn btn-outline-secondary" type="submit">Пошук</button>
        </form>
    </div>
    <!-- Modal Logout -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Logut</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Бажаєте вийти?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Вийти</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block main_content %}
{% if order_list %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Замовлення</th>
            <th scope="col">Адреса доставки</th>
            <th scope="col">Статус оплати</th>
            <th scope="col">Статус доставки</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for order in order_list %}
    <tr class="table-light">
        <td class="table-light">{{ order.public_id }}</td>
        <td class="table-light">{{ order.shipping_address }}</td>
        <td class="table-light">{{ order.payment }}</td>
        <td class="table-light">{{ order.shipped}}</td>
        <td class="table-light"><a href="{% url 'orders:orders_details' public_id=order.public_id %}" class=" btn
                btn-secondary">Деталі</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="container">
    <h1 class="display-2">Замовленнь поки немає</h1>
</div>
{% endif %}
<a class="btn btn-dark" href="{% url 'products:products' %}">В магазин!</a>
{% endblock %}