{% extends 'products/base.html' %}

{% block title %} Products {% endblock %}
{% block header %}
{% endblock %}
{% block nav_bar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if user.is_active %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <a class="navbar-brand" href="/">Test Shop</a>
        {% if user.is_active %}
        <a href="{% url 'accounts:logout'%}" class="nav-link">Logout</a>
        {% else %}
        <a href="{% url 'accounts:login'%}" class="nav-link">Login</a>
        {% endif %}
        {% if user.is_active %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">User: {{ user }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders:orders'%}">Orders</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    {% if items_quantity == 1 %}
                    <a href="{% url 'carts:cart'%}" class="nav-link">Cart | {{ items_quantity }} item</a>
                    {% elif items_quantity > 0 %}
                    <a href="{% url 'carts:cart'%}" class="nav-link">Cart | {{ items_quantity }} items</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
        <form class="d-flex" action="{% url 'products:search_results' %}" method="GET">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
    <!-- Modal Logout -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Logut</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block main_content %}
<main class="container-fluid">
    <div class="row">
        {% if products_list %}
        {% for product in products_list %}
        <div class="card mb-4" style="width: 18rem;padding: 2%;margin: 1%">
            {% if product.image_1 %}
            <img src="{{ product.image_1.url }}" class="card-img-top" style="height: 10rem;" alt="{{ product.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><strong>{{ product.title }}</strong></h5>
                <p class="card-text">{{ product.description|slice:20|safe }}</p>
                <p class="card-text">{{ product.price|floatformat:2 }} UAH </p>
                </br>
                {% if user.is_active %}
                <a href="{% url 'products:add_to_cart' product.product_code %}" class="btn btn-dark">Add to
                    cart</a>
                {% else %}
                <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Add to cart</a>
                {% endif %}
                <a href="{% url 'products:product_detail' product.slug %}" class="btn btn-dark">Details</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Modal auth -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel2">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>For adding product to your cart you need to login or register </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'accounts:login' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}