{% extends 'products/base.html' %}
{% load static %}
{% block title %} Наше пиво {% endblock %}

<!-- Navigation -->
<div class="navbar section no-padding" role="navigation">
	<!-- Heading -->
	{% block nav_bar %}
	<div class="heading">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 hidden-xs">
					<ul class="social">
						<li><a href="https://www.instagram.com/yarique_dsply/" class="fa fa-instagram"></a></li>
						<li><a href="https://www.facebook.com/yarique.zhukovskyi" class="fa fa-facebook-square"></a>
						</li>
						<li><a href="https://twitter.com/YariqueZ" class="fa fa-twitter-square"></a></li>
					</ul>
				</div>
				<div class="col-sm-8">
					<div class="finder">
						<a href="#">
							<span class="fa fa-map-marker"></span> Знайти наше пиво
						</a>
					</div>
					<div class="cart">
						<a href="{% url 'carts:cart'%}">
							{% if items_quantity > 0 %}
							<span class="fa fa-shopping-cart"></span> {{ items_quantity }}
							{% else %}
							<span class="fa fa-shopping-cart"></span>
							{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="navbar-header">
			<a href="{% url 'products:home' %}" class="logo" title="Домашня сторінка">
				<img src="{% static 'products/images/logo.png' %}" alt="Logo">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Навігація</span>
				<span class="icon-bar top-bar"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul id="menu-primary" class="nav navbar-nav">
				<li>
					<span>
						<a href="{% url 'products:home' %}">Головна</a>
					</span>
				</li>
				<li class="active">
					<span>
						<a href="{% url 'products:products' %}">Наше пиво</a>
					</span>
					{% if categories %}
					<ul class="dropdown-menu">
						{% for item in categories %}
						<li><a href="#">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				<li>
					<span>
						<a href="{% url 'about:about' %}">Про нас</a>
					</span>
				</li>
				<li>
					<span>
						<a href="{% url 'about:contact' %}">Контакти</a>
					</span>
				</li>
				{% if blog_posts %}
				<li class="dropdown">
					<span>
						<a href="{% url 'blog:blog' %}">Блог</a>
					</span>
					<ul class="dropdown-menu">
						{% for post in blog_posts %}
						<li><a href="{% url 'blog:post_details' post.slug %}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% endblock %}
</div>
{% block hero %}
<!-- Hero -->
<div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">

	<!-- Content -->
	<div class="container">
		<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
			data-translatey="100">
			<div class="col-md-10 col-md-offset-1">
				<h1>Найтепліші вітання від</h1>
				<h2>Нашої брованрі</h2>
			</div>
		</div>
	</div>

</div>
{% endblock %}
{% block main_content %}
{% if products_list %}
<!-- Section -->
<div class="container-fluid dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu">
					<li class="active"><span><a href="{% url 'products:products' %}">Все</a></span></li>
					{% for item in categories %}
					<li><span><a href="#">{{ item.name }}</a></span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Section -->
<div class="container-fluid light section no-padding">
	<div class="row">
		{% for product in products_list %}
		<div class="col-sm-4 product-wrapper">
			<div class="product">
				<a href="{% url 'products:product_detail' product.slug %}">
					<span>Деталі</span>
					<img src="{{ product.image_1.url }}" alt="{{ product.title }}169x299">
				</a>
				<h3>{{ product.title }}</h3>
				<h5>{{ product.category }}</h5>
				{% if product.discount %}
				<h4>uah <del>{{ product.discounted|floatformat:2 }}</del></h4>
				{% endif %}
				<h4><strong>{{ product.discounted|floatformat:2 }}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Section -->
<div class="container-fluid super-dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu center-menu pages">
					<li class="active"><span><a href="#">1</a></span></li>
					<li><span><a href="#">2</a></span></li>
					<li><span><a href="#">3</a></span></li>
					<li><span><a href="#">4</a></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}